.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    /* below, so it won t be transparent:  */
    z-index: 100;
    background-color: white;
}

.header__logo{
    height: 20px;
    object-fit: contain;
    /* because it's svg */
    margin-left: 20px;
}

.header__input{
    display:flex; 
    align-items: center;
    width: 40%;
    border: 1px solid black;
  
}

.header__icon {
    margin-right: 8px ;
}

.header__inputButton {
    width: 50px !important; 
    /* because it s matterial ui  */
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray ;
}

.header__icons{
    display: flex;
    align-items: center;

}

.header__input > input {
    flex: 1; 
    /* use as many room as you can inside the container */
    border: none;
    padding: 6px;
}